<div class="container p-5 row justify-content-center align-items-center ">

  <div class="col-sm-3 ">
    <div class="card p-3" style="width: 18rem;">
      <img class="card-img-top"  alt = "image" src="/assets/{{product$.imgPath}}">
      <div class="card-block">
        <h5 class="card-title">{{ product$.name }}</h5>
        <p class="card-text" [innerHTML]="'Prix :'+product$.price"></p>
        <p class="card-text">Description: {{ product$.description }}</p>
        <a routerLink="" class="btn btn-primary">Go back</a>
      </div>
    </div>

  </div>
</div>
